<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Share.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ShareDemo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E72F7389254ACFB3003B6D1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E72F73A4254ACFB4003B6D1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E72F73AF254ACFB5003B6D1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E72F73C8254ACFD6003B6D1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
